In [1]:
import pandas as pd

In [3]:
datos = pd.read_csv('casas.csv')

In [4]:
datos

   metros_terreno  metros_construccion  cuartos  estacionamientos   precio
0             200                  150        3                 2  1825000
1             400                  300        6                 3  2850000
2             120                  100        3                 1  1375000

In [5]:
datos.columns

Index(['metros_terreno', 'metros_construccion', 'cuartos', 'estacionamientos',
       'precio'],
      dtype='object')

In [6]:
datos.dtypes

metros_terreno         int64
metros_construccion    int64
cuartos                int64
estacionamientos       int64
precio                 int64
dtype: object

In [9]:
## Modificar una tabla ##

# Cambiar el nombre de una columna
datos.rename(columns={'cuartos':'numero_cuartos'}, inplace=True) ## es lo mismo que "datos = datos.rename(columns={'cuartos':'numero_cuartos'})

In [10]:
datos.at[2, 'numero_cuartos'] = 4

In [11]:
datos

,metros_terreno,metros_construccion,numero_cuartos,estacionamientos,precio
0,200,150,3,2,1825000
1,400,300,6,3,2850000
2,120,100,4,1,1375000

In [13]:
print(datos.columns)

Index(['metros_terreno', 'metros_construccion', 'numero_cuartos',
       'estacionamientos', 'precio'],
      dtype='object')

In [14]:
# Convertir a una lista de strings
print(list(datos.columns))

['metros_terreno', 'metros_construccion', 'numero_cuartos', 'estacionamientos', 'precio']

In [17]:
## Guardar el nuevo frame a un archivo al que llamaremos “casasCambio.csv”
datos.to_csv('casasCambio.csv', index=False) # index=False para que no aparezca la columna del index

In [18]:
datos.to_csv('casasCambio.txt', index=False, sep=' ')

In [36]:
# Si quisiera seleccionar 3 columnas únicamente
nuevo_frame = datos[['metros_terreno','numero_cuartos', 'precio']]
print(nuevo_frame)

   metros_terreno  numero_cuartos   precio
0             200               3  1825000
1             400               6  2850000
2             120               4  1375000

In [37]:
# Si quisiera eliminar: .drop()
nuevo_frame = nuevo_frame.drop(columns=['precio']) # o en su defecto: datos.drop(columns=['precio'], inplace=True), con la diferencia de que esto modifica la tabla original, por lo que no puede deshacerse
print(nuevo_frame)

   metros_terreno  numero_cuartos
0             200               3
1             400               6
2             120               4