In [92]:
### MISIÓN 1: CARGAR ADECUADAMENTE ###
import pandas as pd

In [94]:
players17 = pd.read_csv("FIFA2017.csv")

In [96]:
players17.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Height,...,Long_Pass,Acceleration,Speed,Strength,Agility,Jumping,Heading,Shot_Power,Curve,Rating
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,185 cm,...,77,91,92,80,90,95,85,92,81,94
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,170 cm,...,87,92,87,59,90,68,71,85,89,93
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,174 cm,...,75,93,90,49,96,61,62,78,79,92
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,182 cm,...,64,88,77,76,86,69,77,87,86,92
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,193 cm,...,59,58,61,83,52,78,25,25,14,92

In [98]:
### MISIÓN 2: IDENTIFICAR QUÉ COLUMNAS ELIMINAR ###
# 1) Columnas que no tienen datos para todos los jugadores (columnas incompletas): Posición en su selección (National_Position) y Número en su selección (National_Kit).
# 2) columnas que contienen datos muy particulares para los jugadores: nombre (Name), número que usa el jugador (Club_Kit), año de su contratación (Club_Joining) y año en el que termina su contrato (Contract_Expiry).

In [100]:
players17.columns

Index(['Name', 'Nationality', 'National_Position', 'National_Kit', 'Club',
       'Club_Position', 'Club_Kit', 'Club_Joining', 'Contract_Expiry',
       'Height', 'Weight', 'Preffered_Foot', 'Birth_Date', 'Weak_foot',
       'Ball_Control', 'Dribbling', 'Marking', 'Attacking_Position',
       'Interceptions', 'Short_Pass', 'Long_Pass', 'Acceleration', 'Speed',
       'Strength', 'Agility', 'Jumping', 'Heading', 'Shot_Power', 'Curve',
       'Rating'],
      dtype='object')

In [102]:
### Usar drop para eliminar columnas
# 1) Con datos faltantes
players17 = players17.drop(['National_Position','National_Kit'], axis=1)

In [104]:
# 2) Demasiado irrelevantes
players17 = players17.drop(['Name','Club_Kit','Club_Joining','Contract_Expiry'], axis=1)

In [106]:
players17.columns

Index(['Nationality', 'Club', 'Club_Position', 'Height', 'Weight',
       'Preffered_Foot', 'Birth_Date', 'Weak_foot', 'Ball_Control',
       'Dribbling', 'Marking', 'Attacking_Position', 'Interceptions',
       'Short_Pass', 'Long_Pass', 'Acceleration', 'Speed', 'Strength',
       'Agility', 'Jumping', 'Heading', 'Shot_Power', 'Curve', 'Rating'],
      dtype='object')

In [108]:
### MISIÓN 3: AGREGAR COLUMNAS DE SER NECESARIO ###

In [110]:
# 1) Calcula la edad del jugador hasta el año 2017 y colócala en una nueva columna llamada edad.
players17['Birth_Date']

0       02/05/1985
1       06/24/1987
2       02/05/1992
3       01/24/1987
4       03/27/1986
           ...
1995    06/07/1982
1996    04/12/1986
1997    09/20/1983
1998    09/02/1982
1999    01/28/1983
Name: Birth_Date, Length: 2000, dtype: object

In [112]:
# Dado que 'Birth_Date' es un string, primero hay que transformar su tipo de dato
# Queremos transformar ”MM/DD/AAAA" a "AAAA", para poder restar de 2017 y obtener su edad
año_nacimiento = pd.DatetimeIndex(players17['Birth_Date']).year
año_nacimiento

Index([1985, 1987, 1992, 1987, 1986, 1990, 1988, 1989, 1981, 1992,
       ...
       1981, 1985, 1982, 1984, 1984, 1982, 1986, 1983, 1982, 1983],
      dtype='int32', name='Birth_Date', length=2000)

In [114]:
edad = 2017 - año_nacimiento
edad

Index([32, 30, 25, 30, 31, 27, 29, 28, 36, 25,
       ...
       36, 32, 35, 33, 33, 35, 31, 34, 35, 34],
      dtype='int32', name='Birth_Date', length=2000)

In [116]:
players17['edad'] = edad

In [118]:
# 2) Limpiar columnas 'Height' y 'Weight'
players17['Height']

0       185 cm
1       170 cm
2       174 cm
3       182 cm
4       193 cm
         ...
1995    186 cm
1996    179 cm
1997    183 cm
1998    180 cm
1999    184 cm
Name: Height, Length: 2000, dtype: object

In [120]:
players17['Height'] = players17['Height'].str.replace(" cm","").astype(int)
players17['Height']

0       185
1       170
2       174
3       182
4       193
       ...
1995    186
1996    179
1997    183
1998    180
1999    184
Name: Height, Length: 2000, dtype: int64

In [122]:
players17['Weight']

0       80 kg
1       72 kg
2       68 kg
3       85 kg
4       92 kg
        ...
1995    77 kg
1996    73 kg
1997    79 kg
1998    70 kg
1999    78 kg
Name: Weight, Length: 2000, dtype: object

In [124]:
players17['Weight'] = players17['Weight'].str.replace(" kg","").astype(int)
players17['Weight']

0       80
1       72
2       68
3       85
4       92
        ..
1995    77
1996    73
1997    79
1998    70
1999    78
Name: Weight, Length: 2000, dtype: int64

In [126]:
# 3) Convierte la posición (Club_Position) que es categórica a numérica y deja el resultado en una nueva columna llamada Club_Pos_Num
players17['Club_Position']

0        LW
1        RW
2        LW
3        ST
4        GK
       ...
1995     GK
1996    LCM
1997    Sub
1998    RCM
1999    Sub
Name: Club_Position, Length: 2000, dtype: object

In [128]:
# a) Convertir columna a tipo categoría
players17['Club_Position'] = players17['Club_Position'].astype('category')
# esto le dice a python: “esta columna tiene categorías, no texto libre”

In [130]:
# b) Crear nueva columna con los códigos de cada categoría
players17['Club_Pos_Num'] = players17['Club_Position'].cat.codes
# esto genera números del 0 al n según el orden alfabético de las categorías (por defecto)

In [132]:
## ¿Por qué crear una nueva columna y no reemplazar? ##
# * Porque el texto todavía puede ser útil para análisis o visualización.
# * Buenas prácticas: no destruir información original a menos que estés seguro.

In [134]:
players17[['Club_Position','Club_Pos_Num']].head(10)

  Club_Position  Club_Pos_Num
0            LW            13
1            RW            23
2            LW            13
3            ST            26
4            GK             4
5            GK             4
6            ST            26
7            RW            23
8            ST            26
9            GK             4

In [136]:
### MISIÓN 4: CONSIGUE EL ARCHIVO FINAL ### -> Falta evaluarlas para saber si son relevantes o no
# Selecciona todas las variables que sean numéricas (las fechas no son numéricas y el año de nacimiento ya no hace falta)
# y déjalas en un nuevo frame llamado jugadores2017Final.
# 1) Seleccionar solo columnas numéricas
players17Final = players17.select_dtypes(include='number')

# select_dtypes significa: “selecciona solo los tipos de datos que yo indique”
# include='number' indica que solo queremos: int64 (enteros) float64 (decimales)

In [138]:
players17Final.head(10)

,Height,Weight,Weak_foot,Ball_Control,Dribbling,Marking,Attacking_Position,Interceptions,Short_Pass,Long_Pass,...,Speed,Strength,Agility,Jumping,Heading,Shot_Power,Curve,Rating,edad,Club_Pos_Num
0,185,80,4,93,92,22,94,29,83,77,...,92,80,90,95,85,92,81,94,32,13
1,170,72,4,95,97,13,93,22,88,87,...,87,59,90,68,71,85,89,93,30,23
2,174,68,5,95,96,21,90,36,81,75,...,90,49,96,61,62,78,79,92,25,13
3,182,85,4,91,86,30,92,41,83,64,...,77,76,86,69,77,87,86,92,30,26
4,193,92,4,48,30,10,12,30,55,59,...,61,83,52,78,25,25,14,92,31,4
5,193,82,3,31,13,13,12,30,31,32,...,56,64,57,67,21,31,21,90,27,4
6,185,79,4,87,85,25,89,39,83,65,...,82,84,78,84,85,86,77,90,29,26
7,183,74,3,88,89,51,86,59,86,80,...,95,80,77,85,86,91,86,90,28,23
8,195,95,4,90,87,15,86,20,84,76,...,74,93,86,72,80,93,82,90,36,26
9,199,91,3,23,13,11,13,15,32,31,...,52,70,61,68,13,36,19,89,25,4

In [140]:
players17Final.columns

Index(['Height', 'Weight', 'Weak_foot', 'Ball_Control', 'Dribbling', 'Marking',
       'Attacking_Position', 'Interceptions', 'Short_Pass', 'Long_Pass',
       'Acceleration', 'Speed', 'Strength', 'Agility', 'Jumping', 'Heading',
       'Shot_Power', 'Curve', 'Rating', 'edad', 'Club_Pos_Num'],
      dtype='object')

In [146]:
# 2) Evaluar si las columnas nuevas que creaste (edad, Height, Weight, Club_Pos_Num) están suficientemente relacionadas
# con la variable que quieres predecir: Rating.
# Si la correlación con Rating es menor a 0.07, se considera muy débil, por lo tanto se elimina.
players17Final['Rating'].corr(players17Final['edad'])

0.08507601071941558

In [148]:
players17Final['Rating'].corr(players17Final['Height'])

0.046639932126486636

In [150]:
players17Final['Rating'].corr(players17Final['Weight'])

0.06528630309681965

In [152]:
players17Final['Rating'].corr(players17Final['Club_Pos_Num'])

-0.09724574330366766

In [156]:
players17Final = players17Final.drop(['Weight','Height'], axis=1)

In [158]:
players17Final.to_csv('players17Final.csv', index=False)