In [13]:
import pandas as pd

In [14]:
hoteles = pd.read_csv('hoteles.csv')
print(hoteles)

         nombre            ciudad  precio playa  estrellas
0     Hotel Sol          Acapulco    1200    Sí          4
1    Hotel Luna            Cancún    1500    Sí          5
2  Hotel Tierra  Ciudad de México     800    No          3

In [15]:
# Buscamos quedarnos solo con las columnas: nombre, precio y playa
columnas_deseadas = ['nombre', 'ciudad', 'precio'] # Primero separamos la lógica: definimos las columnas que queremos, luego filtramos; además, no repetimos strings
hoteles_playa = hoteles[columnas_deseadas]
print(hoteles_playa)

         nombre            ciudad  precio
0     Hotel Sol          Acapulco    1200
1    Hotel Luna            Cancún    1500
2  Hotel Tierra  Ciudad de México     800

In [16]:
# Elimina la columna estrellas del DataFrame original hoteles. Haz que el cambio se guarde directamente en el mismo hoteles.
hoteles = hoteles.drop(columns='estrellas')

In [18]:
# Cambiar nombre de columna ciudad por Ciudad (con mayúscula). Usar "rename", "columns{...}", y que se aplique al mismo df
hoteles = hoteles.rename(columns={'ciudad': 'Ciudad'})

In [21]:
# Agregar una columna nueva llamada "descuento" con valor 10% para todos los hoteles (valor fijo de una columna). Agrega la columna usando asignación.
hoteles['descuento'] = 0.10 # o bien: hoteles = hoteles.assign(descuento=0.10); aunque esto es más útil cuando encadenas transformaciones (más métodos)
# por ejemplo: hoteles = hoteles.assign(descuento=0.10).drop('precio', axis=1)

In [22]:
# Guardar el resultado final en un nuevo archivo llamado hoteles_limpio.csv
hoteles.to_csv('hoteles_limpio.csv', index=False)